<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clienteledbsystem?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="model/Car.hbm.xml"/>
    <mapping resource="model/Insurance.hbm.xml"/>
    <mapping resource="model/Account.hbm.xml"/>
    <mapping resource="model/Occupation.hbm.xml"/>
    <mapping resource="model/User.hbm.xml"/>
    <mapping resource="model/Client.hbm.xml"/>
    <mapping resource="model/Member.hbm.xml"/>
    <mapping resource="model/Individual.hbm.xml"/>
    <mapping resource="model/Administrator.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
